<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Projet_FENG_XU</display-name>
  
   <servlet>
    <servlet-name>SearchUsername</servlet-name>
    <servlet-class>Servlet.SearchUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUsername</servlet-name>
    <url-pattern>/search_username</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>NbMsgs</servlet-name>
    <servlet-class>Servlet.NomberMsgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NbMsgs</servlet-name>
    <url-pattern>/nb_msgs</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>Servlet.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/search_user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NbUser</servlet-name>
    <servlet-class>Servlet.NomberUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NbUser</servlet-name>
    <url-pattern>/nb_user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>Servlet.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/new_user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>Servlet.ResetPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/reset_pwd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFoll</servlet-name>
    <servlet-class>Servlet.AddFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoll</servlet-name>
    <url-pattern>/add_foll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RmvFoll</servlet-name>
    <servlet-class>Servlet.RemoveFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RmvFoll</servlet-name>
    <url-pattern>/rmv_foll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFoll</servlet-name>
    <servlet-class>Servlet.ListFollowed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFoll</servlet-name>
    <url-pattern>/list_foll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMsg</servlet-name>
    <servlet-class>Servlet.AddMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMsg</servlet-name>
    <url-pattern>/add_msg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelMsg</servlet-name>
    <servlet-class>Servlet.DeleteMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMsg</servlet-name>
    <url-pattern>/del_msg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMsg</servlet-name>
    <servlet-class>Servlet.ListMsgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMsg</servlet-name>
    <url-pattern>/list_msg</url-pattern>
  </servlet-mapping>
  
  <filter>
	<filter-name>CorsFilter</filter-name>
	<filter-class>CORSFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CorsFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
